
  {% load staticfiles %}  


   <!-- jQuery -->
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <!-- Bootstrap -->
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <!-- FastClick -->
    <script src="{% static 'js/fastclick.js' %}"></script>
    <!-- NProgress -->
    <script src="{% static 'nprogress/nprogress.js' %}"></script>
    <!-- jQuery Smart Wizard -->
    <script src="{% static 'js/jquery.smartWizard.js' %}"></script>
    <!-- Custom Theme Scripts -->
    <script src="{% static 'js/custom.min.js' %}"></script>